/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body{
    background-color: #1f242d;
    font-family: 'Poppins', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-self: space-between;
    align-items: center;
    z-index: 1000;

}
/* Logo Styling */
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
    color: #8a81c2;
    letter-spacing: 2px;
    transition: color 0.3s;
}

.navbar .logo:hover {
    color: #fff;
}
/* Navigation Links */
.navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
    position: relative;
}

.navbar ul li a{
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
}

/* Underline Hover Effect */
.navbar ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: #3db1f0;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.navbar ul li a:hover::after,
.navbar ul li.active a::after {
    width: 100%;
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color: #c5c2f3;
}



/* body */
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 20px;
    margin-top:-10px;
}

.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #43619a;
    border: 2px solid #2964d1;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 16px;
    color: #feffff;
    font-weight: 600;
    transition: .5s;
}

.btn:hover{
    background: transparent;
    color: #2964d1;
    box-shadow: none;
}

.home-info  .btn-sci .sci{
    margin-left: 20px;
}

.home-info  .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #124fc1;
    border-radius: 50%;
    font-size: 20px;
    color: #f4f4f4;
    margin: 0 8px;
    transition:  .5s;
}

.home-info  .btn-sci .sci a:hover{
    background:#000000;
    color: #f4f4f4;
    box-shadow:  0 0 10px;
}