/* Styling for the image container */
.home-img .img-box {
    position: relative;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    background: linear-gradient(135deg, #a9b3e0, #1f242d);
    box-shadow: 0px 0px 20px rgba(126, 162, 230, 0.5);
}

/* Animated Border Light Effect */
.home-img .img-box::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 110%;
    background: conic-gradient(transparent, #2d59b9, transparent, rgb(248, 248, 248));
    border-radius: 50%;
    animation: rotateBorder 20s linear infinite;
    z-index: 0;
}

/* Inner Image Holder */
.home-img .img-box .img-item {
    position: relative;
    width: 99.8%;
    height: 99.8%;
    background: #1f242d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    border: 3px solid rgba(52, 121, 212, 0.3);
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.1);
}

/* Image Styling */
.home-img .img-box .img-item img {
    width: 93%;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

/* Keyframe Animation for Border */
@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}